.git
.gitignore
.gitattributes
.vscode
.DS_Store
worklog

src/frontend/node_modules
src/frontend/dist

src/backend/.venv
src/backend/.pytest_cache
src/backend/.ruff_cache
src/backend/__pycache__
src/backend/template.db

**/__pycache__
**/*.pyc
